input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.currency-cell__input {
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
}

select {
	border: none;
	font-weight: bold;
	/* -webkit-appearance: none;
	-moz-appearance: none; */
}
